apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: akvo
  namespace: default
spec:
  tls:
  - hosts:
    - "*.akvotest.org"
    - "*.akvoflow.org"
    - "rsr.test.akvo.org"
    - "*.akvoapp.org"
    secretName: tls
  rules:
    - host: "rsr.test.akvo.org"
      http:
        paths:
        - backend:
            serviceName: rsr
            servicePort: 80
    - host: "*.akvoapp.org"
      http:
        paths:
        - backend:
            serviceName: rsr
            servicePort: 80
    - host: "flow-services.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: akvo-flow-services
            servicePort: 3000
    - host: "api.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: flow-api
            servicePort: 80
    - host: "api-auth0.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: flow-api-auth0
            servicePort: 80
    - host: "kc.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: keycloak
            servicePort: 80
    - host: "reportserver.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: reportserver
            servicePort: 8080
    - host: "unilog.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: akvo-unilog
            servicePort: 3030
    - host: "ckan.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: akvo-ckan
            servicePort: 80
    - host: "tech-consultancy.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: tech-consultancy-gateway
            servicePort: 80
    - host: "grafana.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: grafana
            servicePort: 80
    - host: "*.akvotest.org"
      http:
        paths:
        - backend:
            serviceName: lumen-blue-green-gateway
            servicePort: 80
