apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: rest
  namespace: danitest
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: kafka-rest
    spec:
      containers:
      - name: cp
        image: solsson/kafka-cp@sha256:89e5b3b326bf8ef888efa9501cd22fb941ca7b5ccef8dfc2f44a1e218f4427e1
        env:
        - name: KAFKAREST_LOG4J_OPTS
          value: -Dlog4j.configuration=file:/etc/kafka-rest/log4j.properties
        command:
        - kafka-rest-start
        - /etc/kafka-rest/kafka-rest.properties
        readinessProbe:
          httpGet:
            path: /
            port: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
        ports:
        - containerPort: 80
        - containerPort: 443
        volumeMounts:
        - name: secret-config
          mountPath: /etc/kafka-rest
        resources:
          requests:
            cpu: "10m"
          limits:
            cpu: "1000m"
      volumes:
      - name: secret-config
        secret:
          secretName: confluent-secret